/***llamar con @import primero a todos los utilities, bases, layout, components, y ultimo mediaquerys***/
@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&family=PT+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.bg-body-navbar {
  background-color: #2D4262; }

.portada {
  background-color: #FFFAF5;
  display: grid;
  width: 100%;
  height: 1200px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr); }
  .portada h1 {
    font-size: 50px;
    font-family: "Averia Serif Libre", cursive;
    grid-row-start: 8;
    grid-row-end: 10;
    grid-column-start: 5;
    grid-column-end: 9;
    order: 2;
    text-align: center; }
  .portada img {
    grid-row-start: 1;
    grid-row-end: 13;
    grid-column-start: 1;
    grid-column-end: 13;
    order: 1;
    width: 100%;
    height: 1200px;
    object-fit: cover; }

.buttonPrincipal, .categoria1 button, .categoria2 button, .categoria4 button, .categoria3 button {
  font-size: 20px;
  font-family: "PT Sans", sans-serif;
  background-color: black;
  color: aliceblue;
  grid-row-start: 11;
  grid-row-end: 12;
  grid-column-start: 6;
  grid-column-end: 8;
  text-align: center;
  order: 3; }
  .buttonPrincipal:hover, .categoria1 button:hover, .categoria2 button:hover, .categoria4 button:hover, .categoria3 button:hover {
    box-shadow: 0px 0px .625rem #2D4262; }

.categoria1, .categoria2, .categoria4, .categoria3 {
  width: 100%;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 60px); }
  .categoria1 button, .categoria2 button, .categoria4 button, .categoria3 button {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 8;
    grid-row-end: 9;
    order: 3; }
    .categoria1 button a, .categoria2 button a, .categoria4 button a, .categoria3 button a {
      color: aliceblue; }

.categoria1a, .categoria2a, .categoria4a, .categoria3a {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  list-style: none;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 11;
  order: 1; }
  .categoria1a img, .categoria2a img, .categoria4a img, .categoria3a img {
    width: 100%;
    height: 600px;
    object-fit: cover; }

.categoria1b, .categoria2b, .categoria4b, .categoria3b {
  grid-column-start: 6;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 11;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr; }
  .categoria1b li img, .categoria2b li img, .categoria4b li img, .categoria3b li img {
    width: 100%;
    height: 300px;
    object-fit: cover; }

.categoria2, .categoria4 {
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 8;
  grid-row-end: 9;
  order: 3; }
  .categoria2 button, .categoria4 button {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 8;
    grid-row-end: 9;
    order: 3; }

.categoria2a, .categoria4a {
  grid-column-start: 6;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 11;
  order: 1; }

.categoria2b, .categoria4b {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 11; }

.whatsapp {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 2.5rem;
  height: 2.5rem; }
  .whatsapp img {
    width: 100%; }

.navbottomI {
  background-color: #2D4262;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 30px; }
  .navbottomI div {
    font-family: 'PT Sans', sans-serif;
    flex-direction: row; }
    .navbottomI div h2 {
      font-family: "PT Sans", sans-serif;
      color: black;
      font-size: 30px;
      font-weight: bold; }
    .navbottomI div li {
      list-style: none;
      line-height: 2.5; }

.redesI li {
  display: inline;
  padding-right: 30px; }

.infoI li a, .ayudaI li a {
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  color: black;
  font-size: 18px; }

.ayudaI li a {
  padding-left: 1.6875rem; }
