/***llamar con @import primero a todos los utilities, bases, layout, components, y ultimo mediaquerys***/
@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&family=PT+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-color: #2D4262;
  width: 100%;
  position: sticky;
  top: 0; }

.portada {
  background-color: #FFFAF5;
  display: grid;
  width: 100%;
  height: 1200px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr); }
  .portada h1 {
    font-size: 50px;
    font-family: "Averia Serif Libre", cursive;
    grid-row-start: 8;
    grid-row-end: 10;
    grid-column-start: 5;
    grid-column-end: 9;
    order: 2;
    text-align: center; }
  .portada img {
    grid-row-start: 1;
    grid-row-end: 13;
    grid-column-start: 1;
    grid-column-end: 13;
    order: 1;
    width: 100%;
    height: 1200px;
    object-fit: cover; }

.buttonPrincipal, .categoria1 button, .categoria2 button, .categoria4 button, .categoria3 button {
  font-size: 20px;
  font-family: "PT Sans", sans-serif;
  background-color: black;
  color: aliceblue;
  grid-row-start: 11;
  grid-row-end: 12;
  grid-column-start: 6;
  grid-column-end: 8;
  text-align: center;
  order: 3; }
  .buttonPrincipal:hover, .categoria1 button:hover, .categoria2 button:hover, .categoria4 button:hover, .categoria3 button:hover {
    box-shadow: 0px 0px .625rem #2D4262; }

.categoria1, .categoria2, .categoria4, .categoria3 {
  width: 100%;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 60px); }
  .categoria1 button, .categoria2 button, .categoria4 button, .categoria3 button {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 8;
    grid-row-end: 9;
    order: 3; }
    .categoria1 button a, .categoria2 button a, .categoria4 button a, .categoria3 button a {
      color: aliceblue; }

.categoria1a, .categoria2a, .categoria4a, .categoria3a {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  list-style: none;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 11;
  order: 1; }
  .categoria1a img, .categoria2a img, .categoria4a img, .categoria3a img {
    width: 100%;
    height: 600px;
    object-fit: cover; }

.categoria1b, .categoria2b, .categoria4b, .categoria3b {
  grid-column-start: 6;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 11;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr; }
  .categoria1b li img, .categoria2b li img, .categoria4b li img, .categoria3b li img {
    width: 100%;
    height: 300px;
    object-fit: cover; }

.categoria2, .categoria4 {
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 8;
  grid-row-end: 9;
  order: 3; }
  .categoria2 button, .categoria4 button {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 8;
    grid-row-end: 9;
    order: 3; }

.categoria2a, .categoria4a {
  grid-column-start: 6;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 11;
  order: 1; }

.categoria2b, .categoria4b {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 11; }

.navtop {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  height: 50px;
  gap: 1.875rem;
  padding-left: 1.25rem; }
  .navtop li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    font-family: "PT Sans", sans-serif; }
    .navtop li a:hover {
      text-shadow: 0px 0px .625rem aliceblue; }

.whatsapp {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 2.5rem;
  height: 2.5rem; }
  .whatsapp img {
    width: 100%; }

footer {
  height: 20rem;
  background-color: #2D4262; }

.redes {
  line-height: 2.5; }
  .redes h2 {
    font-family: "PT Sans", sans-serif;
    color: black;
    font-size: 30px;
    font-weight: bold; }
  .redes li {
    display: inline;
    padding-right: 20px; }

.ayuda, .info {
  display: flex;
  flex-direction: column; }
  .ayuda h2, .info h2 {
    font-family: "PT Sans", sans-serif;
    color: black;
    font-size: 30px;
    font-weight: bold; }
  .ayuda li, .info li {
    list-style: none;
    line-height: 2.5; }
    .ayuda li a, .info li a {
      color: black;
      padding-left: 27px;
      text-decoration: none;
      font-family: "PT Sans", sans-serif;
      font-size: 18px; }

.info li a {
  padding-left: 0; }

.mainCategoria {
  width: 100%;
  height: 200px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-content: center;
  align-items: center;
  gap: 0.625rem; }
  .mainCategoria li {
    list-style: none;
    gap: 20px;
    width: 100%;
    height: 100px; }
    .mainCategoria li img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 70%; }
      .mainCategoria li img:hover {
        box-shadow: 0px 0px .625rem #2D4262; }

.vertodo {
  grid-column-start: 3;
  grid-column-end: 4; }

.cat1 {
  grid-column-start: 4;
  grid-column-end: 5; }

.cat2 {
  grid-column-start: 5;
  grid-column-end: 6; }

.cat3 {
  grid-column-start: 6;
  grid-column-end: 7; }

.cat4 {
  grid-column-start: 7;
  grid-column-end: 8; }

.cat5 {
  grid-column-start: 8;
  grid-column-end: 9; }

.listaArticulos {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: none;
  align-items: none;
  gap: 1.875rem;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center; }
  .listaArticulos div li {
    list-style: none; }
    .listaArticulos div li img {
      width: 100%;
      height: 21.875rem;
      object-fit: contain; }
    .listaArticulos div li button:hover {
      list-style: none;
      box-shadow: 0px 0px .625rem #2D4262; }

.sucursales {
  display: flex;
  flex-direction: column;
  padding: 3.125rem;
  justify-content: space-between;
  padding-left: 3.75rem;
  padding-right: 3.75rem; }
  .sucursales h1 {
    font-family: "PT Sans", sans-serif;
    font-size: 50px;
    text-decoration: underline;
    padding-top: 10px; }

.aranguren h2, .campana h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 1.5;
  padding-top: 20px; }

.aranguren h3, .campana h3 {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  padding-left: 1.25rem; }

.aranguren li, .campana li {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  list-style-position: inside;
  padding-left: 1.875rem; }

.aranguren iframe, .campana iframe {
  padding-left: 2.5rem;
  width: 37.5rem;
  height: 28.125rem;
  padding: 20px; }

.campana {
  padding-top: 5%; }

.bg-body-navbar {
  background-color: #2D4262; }

.navbottomI, footer nav {
  background-color: #2D4262;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 30px; }
  .navbottomI div, footer nav div {
    font-family: "PT Sans", sans-serif;
    flex-direction: row; }
    .navbottomI div h2, footer nav div h2 {
      font-family: "PT Sans", sans-serif;
      color: black;
      font-size: 30px;
      font-weight: bold; }
    .navbottomI div li, footer nav div li {
      list-style: none;
      line-height: 2.5; }

.redesI li {
  display: inline;
  padding-right: 30px; }

.infoI li a, .ayudaI li a {
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  color: black;
  font-size: 18px; }

.ayudaI li a {
  padding-left: 1.6875rem; }
