@media (max-width: 1091px){
    .consultas{
        height: 1500px;
    }
    .responsive-cell-block.M {
        width: 600px;
    }
    .firstRow {
        flex-direction: column;
        div{
            input{
                width: 203%;
                margin-top: 0px;
                margin-right: 0px;
                margin-bottom: 10px;
                margin-left: 0px;
                }
        }
    }
    .responsive-cell-block.S {
        width: 600px;
    }
    .datosContacto{
        position:absolute;
        bottom:138px;right:40px;
    }
}