.error404{
    padding-top: 3%;
    h1{
        font-size: 80px;
        color: $bg-nav;
        text-align: center;
    }
    h2{
        font-size: 50px;
        text-align: center;
    }
    div{
        img{
        display: block;
        margin: auto;
        margin-bottom: 5%;
    }
    }
    ul{
        h3{
            font-size: 30px;
            text-align: center;
        }
        div{
            margin-top: 20px;
            margin-bottom: 50px;
            line-height: 1.5;                
            li{
                font-size: 25px;
                text-align: center;
            }
        }
    }
}