.sucursales{
    @include flex(column, space-between);
    padding: 3.125rem;
    padding-left: 3.75rem;
    padding-right: 3.75rem;
    h1{
        font-family: $font-texto;
        font-size: map-get($font-size, xxl);
        text-decoration: underline;
        padding-top: 10px;
    }
}
.aranguren{
    h2{
        font-family: $font-texto;
        font-size: map-get($font-size, xl);
        line-height: 1.5;
        padding-top: 20px;
    }
    h3{
        font-family: $font-texto;
        font-size: map-get($font-size, md);
        line-height: 1.5;
        padding-left: 1.25rem;
    }
    li{
        font-family: $font-texto;
        font-size: map-get($font-size, sm);
        list-style-position: inside;
        padding-left: 1.875rem;
    }
    iframe{
        padding-left: 2.5rem;
        width: 38%;
        height: 28.125rem;
        padding-top: 50px;
    }
    img{
        height: 400px;
    }
}

.campana{
    padding-top: 5%;
    @extend .aranguren;
    img{
        width: 300px;
        object-fit: cover;
    }
}
