.mainCategoria{
    width: 100%;
    height: 200px;
    text-align: center;
    @include grid-categoria(repeat(10, 1fr), center, center, .625rem);
    li{
        list-style: none;
        gap: 20px;
        width: 75%;
        height: 150px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 70%;
            &:hover{
                box-shadow: 0px 0px .625rem #2D4262;
            }
        }
    }
}
.vertodo{
    @include grid-cat(3, 4, none, none);
}
.cat1{
    @include grid-cat(4, 5, none, none);
}
.cat2{
    @include grid-cat(5, 6, none, none);
}
.cat3{
    @include grid-cat(6, 7, none, none);
}
.cat4{
    @include grid-cat(7, 8, none, none);
}
.cat5{
    @include grid-cat(8, 9, none, none);
}

.listaArticulos{
    width: 100%;
    @include grid-categoria(repeat(4,1fr), none, none, 1.875rem);
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    div{
        li{
            list-style: none;
        img{
                width: 100%;
                height: 21.875rem;
                object-fit: contain;
            }
        button:hover{
            list-style: none;
            box-shadow: 0px 0px .625rem #2D4262; 
        }
        }
    }
}