.mainCategoria{
    width: 100%;
    height: 12vh;
    text-align: center;
    padding-top: 2%;
    @include grid-categoria(repeat(10, 1fr), center, center, .625rem);
    li{
        list-style: none;
        gap: 5px;
        width: 70%;
        height: 100%;
        img{
            width: 100%;
            height: 75%;
            object-fit: fill;
            border-radius: 70%;
            &:hover{
                box-shadow: 0px 0px .625rem #2D4262;
            }
        }
    }
}
.vertodo{
    @include grid-cat(3, 4, none, none);
}
.cat1{
    @include grid-cat(4, 5, none, none);
}
.cat2{
    @include grid-cat(5, 6, none, none);
}
.cat3{
    @include grid-cat(6, 7, none, none);
}
.cat4{
    @include grid-cat(7, 8, none, none);
}
.cat5{
    @include grid-cat(8, 9, none, none);
}

.listaArticulos{
    width: 100%;
    @include grid-categoria(repeat(4,1fr), none, none, 1.875rem);
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    div{
        li{
            list-style: none;
            img{
                width: 100%;
                height: 21.875rem;
                object-fit: contain;
                &:hover{
                    transform: scale(1.03)
                }
            }
        }
        p{
            padding-right: 2%;
            button{
                background-color: $bg-body;
                border: none;
                    &:hover{
                        box-shadow: 0px 0px .625rem #2D4262;
                }
            }
        }
    }
}


